@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::webkit-scrollbar-track{
  background-color:#000000;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.86,#000000),
                     color-stop(0.72, #399e6dab),
                     color-stop(0.44, #4acd8d));
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

